$color_1: #4E4E4E;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #F5B501;

.typeOne {
	color: $color_1;
	padding: 10px 20px;
	border: 3px solid #F5B501;
	text-transform: initial;
	font-family: $font-family_1;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	width: 155px;
	margin: 40px 0;
	box-shadow: none;
	&:hover {
		background-color: $background-color_1;
		border: 2px solid #F5B501;
	}
}
