$color_1: #4E4E4E;
$color_2: #212D11;
$color_3: #F5B501;
$color_4: #98C55D;
$font-family_1: 'DM Serif Text', serif;
$background-color_1: #FFF7E1;
$background-color_2: #FFFFFF;

/* SOBRE NOSOTROS */
.firstContainer {
	background-image: url(../img/Background\ for\ homepage.png);
	height: 754px;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	text-align: left;
}
.firstContainerText {
	position: absolute;
	text-align: left;
	padding: 24px 0 0 80px;
}
.secondContainer {
	position: relative;
	padding: 2rem 2rem
	// p {
	// 	color: $color_1;
	// }
}
.thirdContainer {
	background-color: $background-color_1;
	height: 727px;
	padding: 88px 0 0 77px;
}
.intro {
	width: 400px;
}
.slogan {
	text-align: center;
	font-family: $font-family_1;
	text-align: left;
	font-size: 80px;
	color: $color_2;
	padding: 64px 0 16px;
	line-height: 120%;
}
.orange-word {
	color: $color_3;
}
.green-word {
	color: $color_4;
}

.sobreTexto {
	padding: 0 100px 20px;
}

.contenedorSobre {
	background-color: $background-color_2;
	// margin: 16px 200px;
	// gap: 10px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
}

// .elementosSobre{
// 	// padding: 32px 40px;
// 	// display: flex;
// 	// align-items: center;
// 	// justify-content: center;
// 	// gap: 64px;
// }
