
.contenedorFiestas {
	// display: grid;
	// grid-template-columns: repeat(1, 1fr);
	justify-content: left;
	padding: 0 32px;
    gap: 80px;
    margin: 80px, 0;
}

.fiestaImagen {
	max-width: 100%;
	height: 300px;
	border-radius: 5px;
	padding: 20px 50px;
}
.contentEvento {
	flex-grow: 1;
	text-align: left;
	padding: 5px;
}

.evento {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1000px;
	margin: auto;
}
.fiestaTitulo {
	font-size: 40px;
	margin-bottom: 10px;
}
.cursoDescripcion {
	font-size: 16px;
	font-weight: bold;
}
