
header {
	display: flex;
    justify-content: space-between;
    position: relative;
	padding: 20px;
}
.logo {
	height: initial;
    width: 150px;
}

nav{
	display: flex;
    text-align: right;
    flex: 1;
    justify-content: flex-end;
	height: initial;
}

nav {
	ul {
		li {
			list-style: none;
			display: inline-block;
			font-family: $font-family_1;
		}
	}
}
