$color_1: #4E4E4E;
$color_2: #212D11;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'DM Serif Text', serif;
$background-color_1: #FFFFFF;
$background-color_2: #FFF7E1;
$background-color_3: #F0F8E5;

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: $background-color_1;
	// text-align: left;
}
.secundary {
	background-color: $background-color_2;
}
.tercero {
	background-color: $background-color_3;
}
p {
	color: $color_1;
	font-family: $font-family_1;
}
.bold {
	font-weight: 600;
}
nav {
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin: 0 10px;
			font-family: $font-family_1;
		}
	}
}
a {
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	color: $color_1;
}
hr {
	border: 1px solid #4E4E4E;
	margin: 0 80px;
}
h1 {
	text-align: center;
	font-family: $font-family_2;
	font-size: 80px;
	color: $color_2;
	padding: 64px 80px 16px;
	line-height: 120%;
}
h2 {
	font-family: $font-family_2;
	text-align: left;
	color: $color_1;
}
h3 {
	font-family: $font-family_2;
	text-align: left;
	font-size: 40px;
	color: $color_1;
	line-height: 114%;
}
