.contenedorServicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0 32px 40px;
}

.servicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 30px 20px;
}

.imagenServicios {
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: contain;
    padding: 0 50px;
}

.contentServicio {
    flex-grow: 1;
    text-align: left;
    padding: 5px;
}

.servicioTitulo {
    font-size: 40px;
    margin-bottom: 40px;
}

.servcioText {
    font-size: 16px;
    font-weight: bold;
}

