$background-color_1: #FFFFFF;

.sobreTitulo {
	text-align: center;
}
.sobreTexto {
	padding: 0 100px 20px;
}
.contenedorSobre {
	background-color: $background-color_1;
	margin: 2.5rem;
	text-align: center;
    position: relative;
	padding: 2rem 1rem
}
.elementosSobre {
	padding: 32px 40px;
	margin: 1.5rem;
    text-align: center;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// gap: 64px;
}
