@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.secundary {
  background-color: #FFF7E1;
}

.tercero {
  background-color: #F0F8E5;
}

p {
  color: #4E4E4E;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: 600;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #4E4E4E;
}

hr {
  border: 1px solid #4E4E4E;
  margin: 0 80px;
}

h1 {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 80px;
  color: #212D11;
  padding: 64px 80px 16px;
  line-height: 120%;
}

h2 {
  font-family: "DM Serif Text", serif;
  text-align: left;
  color: #4E4E4E;
}

h3 {
  font-family: "DM Serif Text", serif;
  text-align: left;
  font-size: 40px;
  color: #4E4E4E;
  line-height: 114%;
}

.typeOne {
  color: #4E4E4E;
  padding: 10px 20px;
  border: 3px solid #F5B501;
  text-transform: initial;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  width: 155px;
  margin: 40px 0;
  box-shadow: none;
}
.typeOne:hover {
  background-color: #F5B501;
  border: 2px solid #F5B501;
}

header {
  display: flex;
  align-items: center;
  padding: 56px 50px 10px;
}

.logo {
  width: 150px;
  padding: 0px, 40px, 0px, 0px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F5B500;
  color: #4E4E4E;
  text-align: center;
  padding: 8px 10px 10px 8px;
}

/* SOBRE NOSOTROS */
.firstContainer {
  background-image: url(../img/Background\ for\ homepage.png);
  height: 754px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
}

.firstContainerText {
  position: absolute;
  text-align: left;
  padding: 24px 0 0 80px;
}

.secondContainer {
  padding: 48px 0 0 160px;
}
.secondContainer p {
  color: #4E4E4E;
}

.thirdContainer {
  background-color: #FFF7E1;
  height: 727px;
  padding: 88px 0 0 77px;
}

.intro {
  width: 400px;
}

.slogan {
  text-align: center;
  font-family: "DM Serif Text", serif;
  text-align: left;
  font-size: 80px;
  color: #212D11;
  padding: 64px 0 16px;
  line-height: 120%;
}

.orange-word {
  color: #F5B501;
}

.green-word {
  color: #98C55D;
}

.sobreTitulo {
  text-align: center;
}

.sobreTexto {
  padding: 0 100px 20px;
}

.contenedorSobre {
  background-color: #FFFFFF;
  margin: 16px 200px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elementosSobre {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.contenedorFiestas {
  justify-content: left;
  padding: 0 32px;
  gap: 80px;
  margin: 80px, 0;
}

.fiestaImagen {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 20px 50px;
}

.contentEvento {
  flex-grow: 1;
  text-align: left;
  padding: 5px;
}

.evento {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.fiestaTitulo {
  font-size: 40px;
  margin-bottom: 10px;
}

.cursoDescripcion {
  font-size: 16px;
  font-weight: bold;
}

/* CONTACTOS */
.contactosTitulo {
  text-align: left;
  font-size: 48px;
  padding: 64px 300px 16px 80px;
}

.contactos p {
  padding: 0 0 16px 80px;
  line-height: 150%;
}

form {
  margin: 20px 80px 80px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #212D11;
}

input[type=text] {
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid #F5B400;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: transparent;
}

textarea {
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid #F5B400;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: transparent;
  height: 100px;
}

input[id=comentario] {
  height: 100px;
}

.btnFormulario {
  background-color: #98C65D;
  width: 52%;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

/* FOOTER */
footer p {
  font-size: 14px;
  text-align: left;
}

.lastContainer {
  background-color: #F0F8E5;
  text-align: left;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 16px;
  padding: 100px 129px;
}
.lastContainer p {
  padding: 0px;
}

iframe {
  display: block;
  margin: auto;
}

.contactosFooter {
  padding: 32px 40px;
}

.contactanosFooter {
  padding: 32px 40px;
  background-color: #FFFFFF;
}

/* Responsive */
/* Vista tablet: 768px-1023px */
@media (max-width: 1023px) {
  /* header */
  header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  /* First Container home */
  .slogan {
    font-size: 48px;
  }
  .servicio {
    flex-direction: column;
    max-width: 355px;
    gap: 10px;
  }
  .imagenServicios {
    height: 200px;
    margin: 50px;
  }
  .serviciosTitulo {
    margin: 0;
    font-size: 64px;
    text-align: center;
  }
}
/* Ajustes especificos para la vista móvil */
/* 0 hasta 768px */
@media (max-width: 768px) {
  /* Nuestros servicios */
  .lastContainer {
    padding: 32px 16px;
    text-align: center;
  }
  .typeOne {
    margin: 16px 0;
  }
  /* Contactanos */
  .contactosTitulo {
    padding: 32px 16px 0 16px;
  }
  .contactos p {
    padding: 0 32px 16px 16px;
  }
  form {
    margin: 0 16px 40px;
  }
  .btnFormulario {
    width: 100%;
  }
  input[type=text],
  textarea {
    width: 90%;
  }
  /* FOOTER */
  .contactosFooter p {
    text-align: center;
  }
  .contactanosFooter p {
    text-align: center;
  }
}
.contenedorServicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  padding: 0 32px 40px;
}

.servicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 30px 20px;
}

.imagenServicios {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 50px;
}

.contentServicio {
  flex-grow: 1;
  text-align: left;
  padding: 5px;
}

.servicioTitulo {
  font-size: 40px;
  margin-bottom: 40px;
}

.servcioText {
  font-size: 16px;
  font-weight: bold;
}

.sobreTitulo {
  text-align: center;
}

.sobreTexto {
  padding: 0 100px 20px;
}

.contenedorSobre {
  background-color: #FFFFFF;
  margin: 16px 200px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elementosSobre {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}/*# sourceMappingURL=estilo.css.map */